<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-dark fw-bold">Me siga nas redes sociais</h4>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://web.facebook.com/rodrigsre/" target="_blank" class="iconfcbk">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/__rerodrigues/" target="_blank" class="iconinst">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/rodriguesregina/" target="_blank" class="iconlkd">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> © 2021 Copyright: </span>
        <a class="text-light" target="_blank" href="https://github.com/rodrigues-re"> Regina Rodrigues
        </a>
    </div>

</footer>